.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 3rem;
  background-color: var(--navy);
}

.logo {
  width: auto;
  height: 20rem;
}

.title {
  color: var(--orange);
  font-family: 'Lato Bold';
}

.title h1 {
  font-size: var(--fs-xxxl);
  font-family: 'Montserrat Bold';
}

.title h2 {
  font-size: var(--fs-md);
  font-family: 'Montserrat Light';
}