.notfoundcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--navy);
}

.logo {
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
  color: var(--orange);
  background-color: var(--navy);
}

.notfound h2 {
  font-size: var(--fs-xl);
}

.notfound h3 {
  font-size: var(--fs-md);
  font-weight: 300;
}

.return {
  color: var(--navy);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  background-color: var(--orange);
  transition: all ease-in-out 300ms;
}

.return:hover {
  transform: scale(1.05);
  transition: all ease-in-out 300ms;
  cursor: pointer;
}