.notfoundcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  background-color: var(--orange);
}

.notfound h2 {
  color: white;
  font-size: var(--fs-xxl);
}

.notfound h3 {
  color: white;
  font-size: var(--fs-lg);
  font-weight: 300;
}

.return {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border: 3px solid white;
  transition: all ease-in-out 300ms;
}

.return:hover {
  color: var(--orange);
  background-color: white;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}