.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background-color: var(--ivory);
  padding: 3rem 10%;
}

.services h2 {
  font-size: var(--fs-md);
  margin-bottom: 0.5rem;
}

.intro h2 {
  font-size: var(--fs-md);
  margin-bottom: 0.5rem;
}